footer {
  padding-bottom: 40px;
  background-color: #000;
  color: #fff;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.c-fmenu {
  margin-right: 60px;
  margin-top: 40px;
  &:last-child {
    margin-right: 0;
  }
}

.fmenu-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.c-fmenu__name {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.c-fmenu__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 13px;
  li {
    display: block;
    margin-bottom: 10px;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.sub-form__name {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.additional {
  margin-top: 40px;
  @media screen and #{$tablet} {
    margin-top: 40px;
  }
}

.additional__text {
  margin-top: 25px;
  color: #545454;
  text-align: right;
  font-size: 14px;
  line-height: 1.15;
  @media screen and #{$tablet} {
    text-align: left;
  }
  a {
    color: #545454;
    transition: color .2s;
    &:hover {
      color: #fff;
    }
  }
}

.sub-form__wrapper {
  display: flex;
  max-width: 100%;
}

.sub-form__email {
  padding: 13px 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0;
  background-color: #363636;
  border: 0;
  box-shadow: none;
  color: #5c5c5c; // width: 300px;
  &:focus {
    color: #fff;
  }
  @media screen and (max-width: 400px) {
    padding: 13px 0;
}
}

.sub-form__btn {
  margin: 0;
  border: 0;
  box-shadow: 0;
  background-color: #555555;
  color: #b7b7b7;
  font-weight: bold;
  border: solid 1px #555555;
  padding: 12px;
  cursor: pointer;
  &:hover {
    background-color: #aaaaaa;
    color: #535353;
  }
  &:focus {
    border: solid 1px #fff;
  }
}